{% load static i18n %}
{% load services %}

{% url gender|add:':home' as home_url %}
{% url gender|add:':about' as about_url %}
{% url gender|add:':service_categories' as services_url %}
{% url gender|add:':howitworks' as howitworks_url %}
{% url gender|add:':before_after' as before_after_url %}
{% url gender|add:':blog_list' as blog_url %}
{% url gender|add:':contact' as contact_url %}

<!-- Start of .header-middle -->
<header class="header-middle {{ header_class|default:'header-middle_transparent_pages' }}">
    <div class="container">

        <!-- hidden navbar for mobiles -->
        <div class="navbar-logo">
            <a href="{{ home_url }}">
                <img src="{% static 'images/logo_black.png' %}" alt="Estophia" height="30">
            </a>
        </div>

        <div class="navbar-icon">
            <span></span>
        </div>
        <!-- End of hidden navbar for mobiles -->

        <!-- navbar__menu-link clicked jquery -> event.preventDefoult() -->
        <div class="navbar">

            <ul class="navbar__menu">
                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ about_url }}">{% trans "About Us" %}</a>
                </li>


                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ services_url }}">{% trans "Services" %}</a>
                    {% get_service_categories gender=gender in_navbar=True as home_service_categories %}
                    <ul class="navbar__submenu">
                        {% for category in home_service_categories %}
                            <li class="navbar__submenu-item">
                                <a href="{{ category.get_absolute_url }}"
                                   class="navbar__submenu-link">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ howitworks_url }}">{% trans "How it Works?" %}</a>
                </li>
                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ before_after_url }}">{% trans "Before & After" %}</a>
                </li>
                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ blog_url }}">{% trans "Blog" %}</a>
                </li>
                <li class="navbar__menu-item">
                    <a class="navbar__menu-link" href="{{ contact_url }}">{% trans "Contact" %}</a>
                </li>

                <div class="d-block d-xl-none">
                    {% include "components/base/setlang-form.html" %}
                    <a href="#" class="btn btn_outline_primary"
                       id="popup-form-open-mobile">{% trans "MAKE AN APPOINTMENT" %}</a>
                </div>

            </ul>

            <div class="navbar__right d-none d-xl-flex">
                <div class="navbar__search searchBox-open">
                    <svg width="24.71" height="25.687" viewBox="0 0 24.71 24.687">
                        <path id="search.svg" class="cls-3"
                              d="M1144.4,440.468l8.19,8.178-3.47,3.467-8.19-8.178,1.18-1.177-1.38-1.385a7.878,7.878,0,1,1,1.11-1.11l1.38,1.383Zm-2.36-5.172a6.29,6.29,0,1,0-6.29,6.282A6.293,6.293,0,0,0,1142.04,435.3Zm8.33,13.35-3.61-3.6-1.24,1.245,3.6,3.6Zm-5.97-3.465,1.25-1.246-1.25-1.245-1.24,1.245Zm-11.79-9.885h-1.57a4.715,4.715,0,0,1,4.71-4.712v1.57A3.146,3.146,0,0,0,1132.61,435.3Z"
                              transform="translate(-1127.88 -427.438)"/>
                    </svg>
                </div>
                <div class="navbar__menu">
                    {% include "components/base/setlang-form.html" %}
                </div>


                <a href="#" class="btn btn_outline_primary" id="popup-form-open">{% trans "MAKE AN APPOINTMENT" %}</a>


            </div>
        </div>

    </div>
</header>
<!-- End of .header-middle -->