{% extends "base.html" %}
{% load i18n %}
{% load before_after %}

{% block meta %}
    {% get_beforeafter_seo_obj gender=gender as obj %}
    {% include "components/base/meta.html" %}
{% endblock %}

{% block content %}
    {% get_beforeafter_seo_obj gender=gender as obj %}
    {% include "components/banner.html" with obj=obj %}

    <!-- Start of .latest-news-4 -->
    <section class="latest-news-4 mian-blog">
        <div class="container">
            <div class="article">
                <div class="container pt-5">

                    <h1 class="section-title m-auto">
                        {% blocktrans trimmed %}
                            Change<span> Of Our Patients</span>
                        {% endblocktrans %}
                    </h1>

                    {% include "components/beforeafter/categories.html" %}
                    <div class="departments-3__items row pt-2 align-items-center">
                        {% for beforeafter in beforeafter_list %}
                            {% include "components/beforeafter/beforeafter-item.html" %}
                        {% endfor %}
                    </div>
                    {% include "components/pagination.html" %}
                </div>
            </div>
        </div>
    </section>

    <!-- Start of departments-3 -->
    <section class="departments-3 main-blog">

    </section>
    <!-- End of departments-3 -->

{% endblock %}