{% extends "base.html" %}
{% load blogs %}

{% block meta %}
    {% get_blogs_seo_obj gender=gender as obj %}
    {% include "components/base/meta.html" %}
{% endblock %}

{% block content %}

    {% get_blogs_seo_obj gender=gender as blogs_page_obj %}
    {% include "components/banner.html" with obj=blogs_page_obj %}

    <!-- Start of .latest-news-4 -->
    <section class="latest-news-4 mian-blog">
        <div class="container container_right-sidebar">
            <div class="sidebar">
                <div class="blog-sidebar">
                    {% include "components/blog/categories.html" %}

                    {% include "components/blog/popular-blogs.html" %}

                    {% include "components/blog/follow-us.html" %}

                </div>
            </div>
            <div class="article">

                {% for blog in blog_list %}
                    {% include "components/blog/blog-item.html" %}
                {% endfor %}

                {% include "components/pagination.html" %}
            </div>
        </div>
    </section>
    <!-- End of .latest-news-4 -->


{% endblock %}