{% extends "base.html" %}
{% load services %}

{% block meta %}
    {% get_services_seo_obj gender=gender as obj %}
    {% include "components/base/meta.html" %}
{% endblock %}

{% block content %}
    {% get_services_seo_obj gender=gender as obj %}
    {% include "components/banner.html" with obj=obj %}

    <!-- Start of departments-3 -->
    <section class="departments-3 main-blog mt-5 pt-5">
        <div class="container">


            <div class="departments-3__items row">
                {% for service in services %}
                    {% include "components/services/service-item.html" %}
                {% endfor %}
            </div>
            {% include "components/pagination.html" %}
        </div>
    </section>
    <!-- End of departments-3 -->

    <section class="departments-3 main-blog">
        {% include "components/services/services_form.html" %}
    </section>


{% endblock %}

{% block popup_modal %}
    {% get_services_seo_obj gender=gender as obj %}
    {{block.super}}
{% endblock %}