{% extends "base.html" %}

{% block meta %}
    {% include "components/base/meta.html" with obj=service %}
{% endblock %}

{% block content %}

    {% include "components/banner.html" with obj=service %}

    <!-- Start of departments-3 -->
    <section class="departments-3 main-blog mt-5 pt-5">

        <div class="container container_right-sidebar">
            <div class="article">
                <div class="departments-3__single p-0">
                    {{ service.content|safe }}

                    {% include "components/services/our_cases.html" %}

                    {% include "components/services/faqs.html" %}
                </div>
            </div>
            <div class="sidebar p-0">
                <div class="departments-sidebar mt-0">
                    {% include "components/services/service-categories.html" %}
                    {% include "components/services/appointment-form.html" %}

                </div>
            </div>


        </div>
    </section>
    <!-- End of departments-3 -->

    <section class="departments-3 main-blog">
        {% include "components/services/services_form.html" %}
    </section>

{% endblock %}

{% block popup_modal %}
    {% with obj=service %}
    {{block.super}}
    {% endwith %}
{% endblock %}