{% load static i18n %}

{# TODO: about_url tanimlanacak... #}

<!-- Start of .about -->
<section class="about" id="about">


    <div class="container">
        <div class="about__our-misson wow fadeInLeft" data-wow-duration="1s">
            <div class="about__our-misson-img">
                {% if gender == 'male' %}
                    {% static 'images/male/home/about-img.jpg' as about_image %}
                {% else %}
                    {% static 'images/female/home/about-img.jpg' as about_image %}
                {% endif %}
                <img src="{{ about_image }}" alt="{% trans 'About Estophia' %}">
            </div>
        </div>

        <div class="about__text wow fadeInRight" data-wow-duration="1s">
            <h4>{% trans "How can we help you?" %}</h4>
            <h1 class="section-title">
                {% blocktrans trimmed %}
                    Welcome to<br><span>XX Este Center!</span>
                {% endblocktrans %}
            </h1>
            <h2>
                {% blocktrans trimmed %}
                    We are with you with tailor-made end-to-end aesthetic treatment solutions!
                {% endblocktrans %}
            </h2>
            <p>
                {% blocktrans trimmed %}
                    Lorem ipsum sit amet dolor. Dummy text for empty places. Sit amet si color ti kome positan si
                    meteor sitamus pozitkim temmy dem dum. Robby re for theme sphanx.
                {% endblocktrans %}
            </p>
            <a href="{{ about_url }}" class="read-more">{% trans "read more" %}</a>
            <div class="about__text-signature">
                <img src="{% static 'images/png/signature.png' %}" alt="signature">
                <h4>{% trans "Medical Director" %}<br><span>Dr. Raphael Can Tuna</span></h4>
            </div>
        </div>
    </div>
</section>
<!-- End of .about -->