{% load static i18n %}

<!-- Start of latest-news -->
<section class="latest-news">
    <div class="container">
        <h1 class="section-title">
            {% blocktrans trimmed %}
            ESTOPHIA <span>BLOG</span>
            {% endblocktrans %}
        </h1>

        <div class="latest-news__carousel owl-carousel owl-theme">

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news1.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news2.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news3.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news1.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news2.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news3.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news1.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news2.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news3.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news1.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news2.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>

            <a href="blog-details_right.html" class="latest-news__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/latest-news3.jpg">
                        <h1 class="date">Now 28. 2019</h1>
                    </div>
                    <h4 class="title">Improvements in Technology</h4>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <span class="read-more-2">read more</span>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- End of latest-news -->