{% load static i18n %}
{% load blogs %}
<!-- Start of latest-news -->
<section class="latest-news">
    <div class="container">
        <h1 class="section-title">
            {% blocktrans trimmed %}
            ESTOPHIA <span>BLOG</span>
            {% endblocktrans %}
        </h1>

        <div class="latest-news__carousel owl-carousel owl-theme">
            {% get_last_blogs gender=gender as blog_list %}
            {% for blog in blog_list %}
            {% include "components/home/blog-item.html" %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End of latest-news -->