{% load static i18n %}
{% load services %}

<!-- Start of .our-departments-2 -->
<section class="our-departments-2" id="departments">
    <div class="container">
        <h1 class="section-title section-title_60">
            {% blocktrans trimmed %}
                Which <span>is your choice for your aesthetic journey?</span>
            {% endblocktrans %}
        </h1>
        <div class="our-departments-2__carousel owl-carousel owl-theme">
            {% get_service_categories gender=gender in_home=True as service_categories %}
            {% static 'images/icons/dental.png' as default_icon %}
            {% for category in service_categories %}
                <a class="our-departments-2__inner-item text-dark" href="{{ category.get_absolute_url }}">
                    <div class="icon mb-4">
                        <img
                                {% if department.icon %}
                                    src="{{ category.icon.url }}"
                                {% else %}
                                    src="{{ default_icon }}"
                                {% endif %}
                                    alt="{{ category.title }}">
                    </div>
                    <h1 class="title">{{ category.title }}</h1>
                    <p class="text">{{ category.description|safe|default:"" }}</p>
                </a>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End of .our-departments-2 -->