{% load static %}

<div class="photogallery mt-3 ">
    <div class="photogallery-blocks row">
        <a href="{% static 'images/jpg/case13.jpg' %}" data-fancybox="gallery"
           class="photogallery-item col-12 col-md-3">
            <span class="h-line"></span>
            <span class="v-line"></span>
            <img src="{% static 'images/jpg/case13.jpg' %}" class="w-100">
        </a>
        <a href="{% static 'images/jpg/case14.jpg' %}" data-fancybox="gallery"
           class="photogallery-item col-12 col-md-3">
            <span class="h-line"></span>
            <span class="v-line"></span>
            <img src="{% static 'images/jpg/case14.jpg' %}" class="w-100">
        </a>
        <a href="{% static 'images/jpg/case15.jpg' %}" data-fancybox="gallery"
           class="photogallery-item col-12 col-md-3">
            <span class="h-line"></span>
            <span class="v-line"></span>
            <img src="{% static 'images/jpg/case15.jpg' %}" class="w-100">
        </a>
        <a href="{% static 'images/jpg/case15.jpg' %}" data-fancybox="gallery"
           class="photogallery-item col-12 col-md-3">
            <span class="h-line"></span>
            <span class="v-line"></span>
            <img src="{% static 'images/jpg/case15.jpg' %}" class="w-100">
        </a>
    </div>
</div>
