{% load i18n %}
<div class="appointment">
    <h1 class="title">{% trans "Fill out the form for a free consultation" %}</h1>
    <form action="" class="appointment-form">
        <input type="text" placeholder="{% trans 'Name&Surname' %}*">
        <input type="email" placeholder="{% trans 'E-mail' %}*">
        <input type="tel" placeholder="{% trans 'Phone' %}*">
        <textarea placeholder="{% trans 'Message' %}"></textarea>
        <button type="submit" class="btn btn_pink">{% trans 'Send' %}</button>
    </form>
</div>