{% load static i18n %}
{% load services %}

<!-- Popup Form -->
<div class="popup-form ad-popup-form show">
    <div class="inner-block">
        <span class="popup-form-close" id="ad-popup-form-close">&times;</span>
        <div class="img">
            
            {% if popup.image %}
            <img src="{{ popup.image.url }}" alt="{% trans 'Estophia Appointment Form' %}">
            {% else %}
                {% if gender == "male" %}
                    {% static 'images/male/appointment_form.jpg' as default_appointment_image %}
                {% else %}
                    {% static 'images/female/appointment_form.jpg' as default_appointment_image %}
                {% endif %}
                <img src="{{ default_appointment_image }}" alt="{% trans 'Estophia Appointment Form' %}">
            {% endif %}
        </div>
        <form class="form-contact" action="{% url 'handle_popup_form' %}" method="POST"
              id="ad-popup-form">
            {% csrf_token %}
            <h1 class="section-title">{{popup.title|default:""}}</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger {% else %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <input type="hidden" name="gender" value="{{ gender }}">

            <div class="input-box">
                <label for="popup-name">{% trans "Name" %} *</label>
                <input name="name" type="text" id="popup-name" required>
            </div>

            <div class="input-box">
                <label for="popup-email">{% trans "Email" %} *</label>
                <input name="email" type="text" id="popup-email" required>
            </div>

            <div class="input-box">
                <label for="popup-Phone">{% trans "Phone" %} *</label>
                <input name="phone" type="tel" id="popup-Phone" required class="appointment-phone-input">
            </div>

            <div class="select-box">
                <i class="fa fa-angle-down"></i>
                <select name="service">
                    <option value="">{% trans "Choose Service" %}</option>
                    {% for service in popup.services.all %}
                        <option value="{{ service.title }}">{{ service.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label for="your-message">{% trans "Your Message" %} *</label>
                <input name="message" type="text" id="your-message" required>
            </div>

            {% include "recaptcha/recaptcha.html" %}

            <button type="submit" class="btn btn-2_pink">{% trans "Send" %}</button>
        </form>
    </div>
</div>
