{% extends "base.html" %}
{% load i18n static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/gender_selection.css' %}">
{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand navbar-light bg-white gender-navbar">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
            <a class="navbar-brand m-auto" href="#"><img src="{% static 'images/logo_black.png' %}" alt="Estophia"></a>
            <ul class="navbar-nav">
                {% include "components/gender_selection/setlang-form.html" %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="gender-container container justify-content-center m-auto row my-5">
        <a href="{% url 'female:home' %}" class="gender-item col-12 col-md-6 my-2">
            <img src="{% static 'images/gender_selection/female.jpg' %}" alt="Female"
                class="gender_img d-none d-md-block">
            <img src="{% static 'images/gender_selection/female_mobile.png' %}" alt="Female"
                class="gender_img d-block d-md-none">
            <div class="text-container">
                <p class="text-click-link"><span>
                    {% trans "CLICK HERE FOR" %}
                </span></p>
                <p class="text-gender pink">{% trans "WOMAN" %}</p>
                <p class="text-aesthetic">{% trans "AESTHETIC" %}</p>
            </div>
        </a>

        <a href="{% url 'male:home' %}" class="gender-item col-12 col-md-6 my-2">
            <img src="{% static 'images/gender_selection/male.jpg' %}" alt="MAle"
                class="gender_img d-none d-md-block">
            <img src="{% static 'images/gender_selection/male_mobile.png' %}" alt="MAle"
                 class="gender_img-mobile d-block d-md-none">
            <div class="text-container">
                <p class="text-click-link"><span>
                    {% trans "CLICK HERE FOR" %}
                </span></p>
                <p class="text-gender blue">{% trans "MAN" %}</p>
                <p class="text-aesthetic">{% trans "AESTHETIC" %}</p>
            </div>
        </a>

    </div>
{% endblock %}

{% block post_content %}
{% endblock %}

{% block popup_modals %}
{% endblock %}

{% block footer %}
    {% include "components/gender_selection/footer.html" %}
{% endblock %}