{% load i18n %}

<div class="follow">
    <h1 class="blog-sidebar-title">{% trans "Follow Us" %}</h1>
    <div class="socials">
        <a href="{{ global_preferences.common__facebook_link }}">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="{{ global_preferences.common__instagram_link }}">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="{{ global_preferences.common__youtube_link }}">
            <i class="fa fa-youtube-play"></i>
        </a>
    </div>
</div>